@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');
#editField {
    width: 55%;
    color: #0066cc;
    background: #efefef;
    font-family: "IBM Plex Mono", san-serif;
    padding: 2rem;
    margin: 0 auto;
    line-height:1.5;
    font-size:20px;
}

body::first-line{
    font-weight: bold;
    font-size:32px;


}

::selection {
  color: #efefef;
  background-color: #0066cc;
}

::-moz-selection {
  color: #efefef;
  background-color: #0066cc;
}

::-o-selection {
  color: #efefef;
  background-color: #0066cc;
}

::-ms-selection {
  color: #efefef;
  background-color: #0066cc;
}

::-webkit-selection {
  color: #efefef;
  background-color: #0066cc;
}

::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px #efefef;
}

::-webkit-scrollbar-thumb {
  background: #0066cc;
  border-radius: 4px;
}
::-webkit-scrollbar-track-piece {
  background: #efefef;
}
